PORT=5000

# Isi sesuai dgn MySQL di komputer/laptop masing-masing
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=iot_medis_db
#######################################################

MQTT_BROKER_URL=mqtt://broker.hivemq.com
MQTT_TOPIC=esp32/max30100/telemetry